.regular {
    -fx-border-color: blue;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-style: solid centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.more-than-two-in-dorm {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-border-style: solid centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.extra {
    -fx-border-color: blue;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-style: segments(5,5) centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.regular .scroll-bar:horizontal,
.regular .scroll-bar:vertical,
.extra .scroll-bar:horizontal,
.extra .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.privateroom-left {
    -fx-border-width: 1 0 1 1;
    -fx-background-color: #FFFFFF;
}

.privateroom-center {
    -fx-border-width: 1 0 1 0;
    -fx-background-color: #FFFFFF;
}

.privateroom-right {
    -fx-border-width: 1 1 1 0;
    -fx-background-color: #FFFFFF;
}

.brkDwn {
    -fx-font-size: 18px;
}