/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/05/21, 1:23:16
    Author     : masanori
*/

.selectedDateFX .text-field {
    -fx-font: 15px "Arial";
}

#reservationNumberFX, #referenceNumberFX {
    -fx-text-box-border: LightGray;
    -fx-shadow-highlight-color: LightGray;
    -fx-control-inner-background: WhiteSmoke;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 0.25em 0.416667em  0.333333em 0.416667em; /* 3 5 4 5 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
}

.warning {
    -fx-background-color: Yellow;
}

.closedday {
    -fx-background-color: lightgray;
}

.boxlines {
    -fx-border-color: lightgray;
    -fx-border-insets: -4;
    -fx-border-width: 2;
}