/*
 * Empty Stylesheet file.
 */

.regular {
    -fx-border-color: #E0143C;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-style: solid centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.extra {
    -fx-border-color: #E0143C;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-border-style: segments(5,5) centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.roomChangeRequiredNotInformed {
    -fx-border-color: #33ff00;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-style: segments(5,5) centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.roomChangeRequiredInformed {
    -fx-border-color: #33ff00;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-style: solid centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.roomChangeDestination {
    -fx-border-color: #0093ff;
    -fx-border-width: 4;
    -fx-border-radius: 0;
    -fx-border-style: segments(5,5) centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}

.roomChangeCompleted {
    -fx-border-color: #0093ff;
    -fx-border-width: 4;
    -fx-border-radius: 0;
    -fx-border-style: solid centered;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-font-size: 12px ;
}