/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/05/18, 15:35:36
    Author     : masanori
*/

.canceled-row {
    -fx-background-color: DarkGray;
}

.noshow-row {
    -fx-background-color: fuchsia;    
}

.checkedin-row-FirstDay {
    -fx-background-color: #99ff99;    
}

.checkedin-row-AfterSecondDay {
    -fx-background-color: #ffcc33;    
}

.table-row-cell:selected {
}

.pink-column .label {
    -fx-background-color: #FFBEDA;
}

.green-column .label {
    -fx-background-color: #B1F9D0;
}

.blue-column .label {
    -fx-background-color: #BAD3FF;
}

.yellow-column .label {
    -fx-background-color: #FFFFDD;
}

.red-column .label {
    -fx-background-color: #E0143C;
}

.edited-cell {
    -fx-background-color: #FF69B4;
}

.total-and-passed-nights-cell {
    -fx-background-color: lightgreen;
}

.total-and-result-num-cell {
    -fx-background-color: #BAD3FF;
}